body {
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {  
    font-family: 'Montserrat', sans-serif;
}

/* containers */
.container-fluid {
    padding: 3% 15% 7%;
}

/* Headings */
.big-heading {
    font-family: 'Montserrat', sans-serif;  
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
#title {
    background-color: #ff4c68;
    font-weight: bold;
    text-align: left;
    color: white;
}

/* Navbar */
.navbar {
    padding: 0 0 4.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: lighter;
}

.nav-item {
    padding: 0 18px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

.title-image {
    transform: rotate(8deg);
    width: 60%;
    display: block;
    margin: 0 auto;
    z-index: 0;
    right: 30%;

}

.download-button{
    margin: 5% 3% 5% 0
}

#features {
    padding: 3% 15%;
    color: #fff;
    position: relative;
    z-index: 1;
}

.feature-icons{
    font-size: 3rem;
    color: #ef8172;
}

.feature-icons:hover{
    color: #ff4c68;
}

.feature-text{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5% 0;
}

.feature-desc{
    color: #8f8f8f
}

/* testimonials */
#testimonials {
    background-color: #ef8172; 
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

#press{
    background-color: #ef8172; 
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Pricing Section */
#pricing{
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.princing-column{
    padding: 3% 2%;
}

/* Call to action */
#cta {
    background: #ff4c68;
}

.cta-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3;
    color: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
}

/* footer */
#footer {
    background-color: #fff;
    margin: 5px 5px;
}

.footer-text {
    color: gray;
    font-family: 'Montserrat';
    font-weight: light;
}

.social-icon {
    margin: 15px 5px;
}

/* CSS Media Query Breakpoints */
@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}